.main {
  position: relative;
  margin-top: 70px;
  padding: 20px 0 40px;
}

@media (min-width: 768px) {
  .main {
    padding: 30px 0 40px;
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 0 15px 40px 295px;
    margin-top: 0;
  }
}