/* .movie-management{
    margin-top:100px;
    display: flex;
    justify-content: center;
}

.movie-table{
    width: 90%;
    justify-content: space-around;
    border-radius: 15px;
    border:2px  solid var(--back-light-color);
}
.movie-table .table-header{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.movie-table .table-header .data{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--back-light-color);

}

.table-header .data .data-name{
    width:calc(100% / 4);
}


.movie-table .table-header .data-title{
    font-size:22px;
    font-weight: 600;
    color:var(--text-color);
    width:calc(100% / 5 - 15px);
}

.movie-table .table-data{
    display:flex;
    width:100%;
    margin-top: 10px;
    justify-content: space-between;
    padding: 0 10px 0 10px;
   
}

.movie-table .table-data .data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.movie-table .table-data .data-name{
    font-size: 18px;
    font-weight:400;
    color:var(--text-color);
    width: calc(100% / 5 - 15px);
}

@media(max-width:800px){

    .movie-management .movie-table {
        overflow-x:scroll;
    }

}

 */



 .movie-management {
    display: flex;
    justify-content: center;
    width: 100%;
 }
.movie-management .movies-table{
    margin-top: 100px;
    width:90%;
   
}

.movies-table table{
    border-radius: 10px;
    border:2px solid var(--back-light-color);
}

 .movies-table table .data-title,
 .movies-table table .data-name{
    color:var(--text-color);
 }