.header {
  display: block;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a191f;
  z-index: 100;
  border-bottom: 1px solid #222028;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
  padding: 0 15px;
  width: 100%;
}
.header__logo {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  background-color: #1a191f;
  width: auto;
}
.header__logo img {
  width: auto;
  height: 20px;
  display: block;
}
.header__btn {
  display: block;
  width: 22px;
  height: 20px;
  position: relative;
}
.header__btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 22px;
  background: #000;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.4s ease;
  top: 0px;
  background-color: #fff;
  border-radius: 2px;
}
.header__btn span:nth-child(2) {
  top: 8px;
}
.header__btn span:nth-child(3) {
  top: 16px;
}
.header__btn__active span {
  background-color: #f9ab00;
}
.header__btn__active span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}
.header__btn__active span:nth-child(2) {
  opacity: 0;
}
.header__btn__active span:nth-child(3) {
  top: 8px;
  transform: rotate(-45deg);
}
@media (min-width: 1200px) {
  .header {
    display: none;
  }
}