*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-color:#0E4BF1;
    --panel-color:#fff;
    --text-color:#000;
    --back-light-color:#707070;
    --border-color:#e6e5e5;
    --toggle-color:#ddd;
    --box1-color:#4da3ff;
    --box2-color:#ffe6ac;
    --box3-color:#e7d1fc;
    --title--icon-color:#fff;

    /*-------transition-----*/

        --tran-05:all 0.5s ease;
    --tran-03:all 0.3s ease;
    --tran-02:all 0.2s ease;
}

body {
    min-height: 100vh;
    /* background-color: var(--primary-color); */
}

body.dark{
     --primary-color:#3A3B3C;
    --panel-color:#242526;
    --text-color:#ccc;
    --back-light-color:#ccc;
    --border-color:#4d4c4c;
    --toggle-color:#fff;
    --box1-color:#3a3b3c;
    --box2-color:#3a3b3c;
    --box3-color:#3a3b3c;
    --title--icon-color:#fff;
}

nav{
    position:fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-radius: 2px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close{
    width:73px;
}
nav .logo-name{
    /* margin-left: 30px; */
    display: flex;
    align-items:center;
}

nav .logo-image{   
    display: flex;   
    justify-content: center;
    min-width: 45px;
    /* background-color: red; */
}

nav .logo-image img{
    width:45px;
    object-fit: cover;
    border-radius: 20%;   
}

nav .logo-name .logo_name{
    font-size:22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left:15px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}


nav .menu-items{
    /* background-color: red; */
    margin-top:40px;
    height:calc(100% - 90px);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.menu-items li{
    list-style:none; 
    /* display: flex; */
}
.menu-items .nav-links .nav-link{
    display: flex;
    align-items: center;
}

/* 

.close-menu {
    display: none;
}

nav.close .nav-link .menu-down{
    opacity: 0;
    transition: var(--tran-05);
} */

.menu-items li a{
    display:flex;
    list-style:none;
    text-decoration:none;
    align-items:center;
    height:50px;    
    position: relative; 
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height:5px;
    width:5px;
    border-radius:50%;
    background-color: var(--primary-color);

}


.menu-items li a i{ 
    font-size:24px;
    min-width:45px;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--back-light-color )
    /* background-color: red ; */
}

body.dark li a:hover:before{
    background-color: var(--text-color);
}

.menu-items li a .link-name{
    font-size:18px;
    font-weight: 400;
    color:var(--back-light-color);
    transition: var(--tran-05);
    white-space: nowrap;
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

.nav-links li:hover i,
.nav-links li:hover .link-name{
    color:var(--primary-color);
}


body.dark .nav-links li:hover i,
body.dark .nav-links li:hover .link-name{
    color:var(--text-color);
}

.nav-link .menu-down,
.nav-link .menu-down2{
    position: absolute;
    right: 15px;
}



.nav-links .menu-bars,
.nav-links .menu-bars2{
    height:0px;
    display: none;
    transition: var(--tran-05);
    /* background-color: red ; */
}

.menu-bars.show,
.menu-bars2.show2{
    height: 100px;
    display: flex;
}
 
nav.close .menu-down,
nav.close .menu-down2{
    opacity: 0;
    transition: var(--tran-05);
}




 
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* border-right: 1px solid var(--border-color); */

}

nav.close .mode .moon{
    opacity:0;
    transition: var(--tran-05);
}
 
.menu-items .mode-toggle{
    position:absolute;
    right: 14px;
    height:50px;
    min-width:45px;
    display: flex;
    align-items:center;
    justify-content:center ;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height:22px;
    width:40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before{
    content:"";
    position: absolute;
    left:5px;
    top:50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--panel-color);
    transition: var(--tran-03);
}

body.dark .switch:before{
    left:20px;
}

.dashboard{
     position: relative;
    left:250px;
    padding:10px 14px; 
    min-height: 100vh; 
    width:calc(100% - 250px);
    background-color: var(--panel-color);
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left:73px;
    width: calc(100% - 73px);
}

.dashboard .top{
    position: fixed;
    left: 250px;
    top: 0;
    padding: 10px 14px; 
    display: flex;
    width: calc(100% - 250px); /* Sửa lại với dấu cách */
    justify-content: space-between;
    background-color: var(--panel-color);
    transition: var(--tran-05) ;
    
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .siderbar-toggle{
     font-size: 26px;
     color:var(--text-color);
     cursor : pointer;
}
 .dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin:0 30px;
}
 .top .search-box input{
    position:absolute;
    border:1px solid var(--border-color);
    background-color: var(--panel-color);
    padding:  0 25px 0 50px;
    border-radius: 5px;
    height:100%;
    width:100%;
    color:var(--text-color);
    font-weight: 400;
 }

 .top .search-box i{
    position: absolute;
    font-size: 22px;
    left: 15px;
    z-index: 10;
    top:50%;
    transform:translateY(-50%);
    color:var(--back-light-color);
 }



.dashboard .top  img{
    width: 40px;
    border-radius: 50%;
 }

 .dashboard .dash-content{
    padding-top: 50px;
 }

 .dash-content .title{
    display:flex;
    align-items:center;
    margin:70px 0 30px 0;
 }

.dash-content .title i{
    height: 35px;
    width:35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color:var(--title--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.dash-content .title .text{
    font-size:24px;
    font-weight: 500;
    color:var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes{
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    width:calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition:var(--tran-05)
}

.box i{
    font-size:35px;
    color:var(--text-color);
}

.box .text{
    white-space:nowrap;
    font-size:25px;
    font-weight:600;
    color:var(--text-color);
}
.box .number{
    white-space:nowrap;
    font-size:25px;
    font-weight:700;
    color:var(--text-color);
}

.dash-content .boxes .box2{
    background-color: var(--box2-color);
}

.dash-content .boxes .box3{
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data{
    display:flex; 
    justify-content:space-between;
    width: 100%;

} 

.activity-data .data{
    display:flex;
    justify-content: center;
    flex-direction:column;

}

.activity .activity-data{
    width:calc(100% / 4 - 15px);
} 

.activity .activity-data .data-title{
    font-size:20px;
    font-weight: 500;
    color:var(--text-color);
}

.activity .activity-data .data-list{
    font-size:18px;
    font-weight:400;
    white-space:nowrap;
    color:var(--text-color);
    margin: 10px 0;
}


/* căn chỉnh thu phóng */

@media (max-width:1000px){ /*chiều rộng tối đa của trang là 1000 nếu dưới các thuộc tính trên sẽ áp dụng*/
    nav{
        width:73px;
    }
    nav.close{
        width:250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }

     
    nav.close .menu-down,
    nav.close .menu-down2{
        opacity: 0;
        transition: var(--tran-05);
    }

 
    nav .mode .moon{
        opacity:0;
        transition: var(--tran-05);
    }

    nav.close .mode .moon{
        opacity:1;
        transition: var(--tran-05);
    }

    nav.close .logo-name{
        opacity:1;
        pointer-events:auto;
    }

    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~.dashboard{
        left:73px;
        width: calc(100% - 73px);
    }

    nav.close ~.dashboard{
        left:250px;
        width: calc(100% - 250px);
    }

        nav ~.dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~.dashboard .top{
        left:250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data{
        overflow-y: scroll;
    }
}

@media(max-width:780px) {
    .dash-content .boxes .box{
        width:calc(100% / 2 - 15px);
        margin-top:15px;
    }
}
@media(max-width:560px) {
    .dash-content .boxes .box{
        width:calc(100% - 15px);
        margin-top:15px;
    }
}

@media(max-width:500px) {
    nav{
        width:73px;
    }
    nav.close{
        width:73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }

    nav .mode .moon{
        opacity:0;
        transition: var(--tran-05);
    }

    /* nav.close .mode .moon{
        opacity:1;
        transition: var(--tran-05);
    } */

    nav.close .logo-name{
        opacity:0;
        pointer-events:none;
    }

    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~.dashboard{
        left:73px;
        width: calc(100% - 73px);
    }

    nav.close ~.dashboard{
        left:73px;
        width: calc(100% - 73px);
    }

        nav ~.dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~.dashboard .top{
        left:73px;
        width: calc(100% - 73px);
    }

    .activity .activity-data{
        overflow-y: scroll;
    }
    
}