.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #1a191f;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  width: 280px;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  border-right: 1px solid #222028;
}
.sidebar__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #1a191f;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #222028;
}
.sidebar__logo img {
  width: auto;
  height: 20px;
  display: block;
}
.sidebar__user {
  padding: 20px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #222028;
}
.sidebar__user-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  display: block;
  margin-right: 15px;
}
.sidebar__user-img img {
  width: 100%;
}
.sidebar__user__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar__user__title p {
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 0;
}
.sidebar__user__title span {
  display: block;
  color: #c0c0c0;
  font-size: 12px;
  line-height: 16px;
}
.sidebar__user__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  margin-left: auto;
  border: 2px solid #f9ab00;
}
.sidebar__user__btn i {
  font-size: 20px;
}
.sidebar__user__btn:hover {
  color: #fff;
  background-color: rgba(249,171,0,0.05);
}
.sidebar__nav__wrap {
  display: block;
  width: 100%;
  height: calc(100vh - 240px);
  overflow-y: auto;
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 30px 0;
  width: 100%;
}
.sidebar__nav__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.sidebar__nav__link span {
  margin-left: 10px;
}
.sidebar__nav__link i {
  font-size: 20px;
}
.sidebar__nav__link i:last-child {
  margin-left: 5px;
  font-size: 12px;
  margin-top: 1px;
}
.sidebar__nav__link:hover {
  color: #f9ab00;
}
.sidebar__nav__link--active {
  color: #f9ab00;
  cursor: default;
}
.sidebar__nav__link.show i:last-child {
  color: #f9ab00;
}
.sidebar__nav__item {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  position: relative;
  padding: 0 30px;
}
.sidebar__nav__item:last-child {
  margin-bottom: 0;
}
.sidebar__dropdown-menu {
  position: absolute;
  background-color: #222028;
  padding: 15px 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 180px;
  border-radius: 8px;
  border: none;
}
.sidebar__dropdown-menu li {
  margin-bottom: 15px;
  width: 100%;
}
.sidebar__dropdown-menu li:last-child {
  margin-bottom: 0;
}
.sidebar__dropdown-menu a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
}
.sidebar__dropdown-menu a:hover {
  color: #f9ab00;
}
.sidebar__dropdown-menu.show {
  display: flex;
}
.sidebar__copyright {
  margin-top: auto;
  padding: 0 30px 20px;
  color: #c0c0c0;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}
.sidebar__copyright a {
  color: #f9ab00;
}
.sidebar__copyright a:hover {
  color: #f9ab00;
  text-decoration: underline;
}
.sidebar__active {
  transform: translateX(0);
}
@media (min-width: 1200px) {
  .sidebar {
    transform: translateX(0);
  }
  .sidebar__logo {
    height: 80px;
  }
}